@font-face {
  font-family: "OpenDyslexic3";
  src: local("OpenDyslexic3"),
    url("./fonts/OpenDyslexic3-Regular.ttf") format("truetype");
  font-weight: normal;
}

.App {
  padding: 2em 5em;
  font-family: OpenDyslexic3;
}

.TextBody p.highlighted {
  background-color: #aee;
}