@font-face {
  font-family: "OpenDyslexic3";
  src: local("OpenDyslexic3"),
    url("./fonts/OpenDyslexic3-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: OpenDyslexic3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}
